<root>
	<config>
	    <origin>file.log</origin>
	    <allowrepeat>FALSE</allowrepeat> <!-- Define si permite escribir una línea de salida que es idéntica a la anterior. Valores posibles: TRUE, FALSE -->
	    <mode>1</mode> <!-- Define el modo de lectura del archivo de log de entrada: 0 monitoreo secuencial activada por cambios - 1 Lectura completa archivo estático -->
	</config>
	
	<expressions>
        <!-- 'check' se usa para buscar una expresión regular 'pattern' y en caso de encontrarla generará una salida 'match'-->
        <!-- 'submatchlevel' indica si los parámetros 'PARAMn' buscarán en el total de la línea operada (0) o en la coincidencia del pattern (1) -->
		<check pattern="Key\: \d+ Status\: \[0\] Input\:\s+\d+" match="keyboard.sendln(&quot;PARAM1&quot;);&#x0a;keyboard.send(&quot;PARAM2&quot;);&#x0a;" submatchlevel="1" >
            <!-- en el patter encontrado se busca el valor 'pattern' y se pasa al valor del TAG, el cual funciona como parámetro el campo 'match' del TAG 'check'-->
		    <PARAM1 pattern="\d+$"/>
            <!-- 'conv_id' indica cuáles de los 'conv' del TAG 'conversions' serán consultados para transformar el valor del 'pattern' en el valor del campo 'output' del TAG 'conv' del id coincidente-->
			<PARAM2 pattern="Key\: \d+" conv_id="1,2,3"/>
		</check>
    </expressions>
    <conversions>
        <conv id="2" input="Key: 11" output="#TECLA1;" />
        <conv id="1" input="Key: 13" output="#TECLA2;" />
        <conv id="3" input="Key: 48" output="#TECLA3;" />
        <conv id="4" input="116" output="#TECLA4;" />
        <conv id="5" input="25" output="#TECLA5;" />
        <conv id="6" input="55" output="7" />
        <conv id="7" input="56" output="8" />
        <conv id="8" input="7802225640510" output="ARTICULO_1" />
        <conv id="9" input="7802575450093" output="ARTICULO_2" />
        <conv id="10" input="4893767153258" output="ARTICULO_3" />
        <conv id="11" input="02082001134517" output="ARTICULO_4" />
        <conv id="12" input="7802150000328" output="ARTICULO_5" />
        <conv id="13" input="7111719991781" output="ARTICULO_EXENTO" />
        <conv id="14" input="2090000709650" output="ARTICULO_EXENTO_2" />
        <conv id="15" input="2918090010008" output="ARTICULO_PESABLE_MADRE" />
        <conv id="16" input="2955510000010" output="ARTICULO_PESABLE_0001" />
        <conv id="17" input="2955510001000" output="ARTICULO_PESABLE_0100" />
        <conv id="18" input="2955510009990" output="ARTICULO_PESABLE_0999" />
        <conv id="19" input="2955510015946" output="ARTICULO_PESABLE_1594" />
        <conv id="20" input="2955510030000" output="ARTICULO_PESABLE_3000" />
    </conversions>
    
    <!-- confección del nombre del archivo de salida -->
    <outputfile directory="./test-output/" prename="tc0" postname="-modul-func-desc" extension="js" correlative="0">

    <!-- Condiciones para crear y cerrar el archivo de salida con las conversiones -->
		<automatic create_on="\- End EventMain ckrReadyState\.ckrReadyState" close_on="EventListener\:\:Name \= ASR\.(trxClear) Status \= 0" />
            <header>
Texto del encabezado del archivo antes de insertar las salidas de conversión
            </header>
            <footer>
Texto del pie del archivo antes de insertar las salidas de conversión
            </footer>
    </outputfile>
</root>
